* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    color: inherit;

    &:hover {
        color: var(--primary-accent);
    }

    word-break: keep-all;

}

button,
input {
    font-family: inherit;
}

img {
    -webkit-user-drag: none;
}

p {
    text-wrap: balance;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--header-font);
    font-weight: bold;
}

h4 {
    font-size: 1.25rem;
}

/* ID tags that the nav buttons in the header lead to */
#opening-hours-section,
#our-cars-section,
#delivery-section,
#closed-dates-container {
    scroll-margin-top: 5rem;
}

table.open-hours-table,
table.closed-dates-table,
table.our-cars-table,
table.delivery-table {
    width: 40ch;
    max-width: 90dvw;
    border-collapse: collapse;
    align-self: center;

    &>thead>tr {
        border-bottom: 0.0625rem solid var(--primary-light);

        &>th {
            padding: 0.4rem 0.2rem;
            font-size: 1rem;

            &:first-of-type {
                text-align: left;
            }

            &:last-of-type {
                text-align: right;
            }
        }
    }

    &>tbody>tr {
        padding: 0.5rem 0;

        &:not(:last-of-type) {
            border-bottom: 0.0625rem solid var(--primary-light);
        }

        &>td {
            padding: 0.4rem 0.2rem;
            font-size: 1rem;

            text-align: center;

            &:first-of-type {
                text-align: left;
            }

            &:last-of-type {
                text-align: right;
            }
        }
    }
}

body {
    background-color: var(--primary-dark);
    color: var(--primary-light);
    font-family: var(--body-font);
    text-align: center;

    display: flex;
    flex-flow: column nowrap;
    align-items: center;

    &>header {
        display: flex;
        flex-flow: row nowrap;
        justify-content: flex-end;
        align-items: center;
        gap: 2ch;

        width: 100%;
        max-width: 100%;
        height: 4rem;
        max-height: max-content;

        padding-left: 2ch;
        padding-right: 2ch;

        top: 0;
        position: sticky;
        background-color: var(--secondary-dark);

        &>h3 {
            justify-self: start;
            flex: 1;
            text-align: left;
        }

        &>.redirect-dropdowns {
            display: flex;
            flex-flow: row wrap;
            justify-content: flex-end;
            column-gap: 1ch;
            
            @media screen and (max-width: 768px) {
                max-width: min-content;
            }

            & select {
                background-color: var(--secondary-dark);
                color: var(--primary-light);
                border: none;
                padding: 0.2rem;

                width: max-content;

                font-size: 1rem;
                font-weight: 300;

                &:hover {
                    cursor: pointer;
                }
            }

            & .redirect-dropdown {
                display: inline-block;

                & .redirect-dropdown-head {
	                display: flex;
                    text-wrap: nowrap;
	                cursor: pointer;

                    &> .language-name {
                        margin-left: 5px;
                        margin-right: 3px;
                    }
                }

                & #redirect-dropdown-content {
                    visibility: hidden;
                }

                & .redirect-dropdown-content {
                    margin-top: 5px;
	                position: absolute;
                    width: fit-content;
                    text-align: left;
	                background-color: var(--secondary-dark);
                    border-radius: 10px;
                    border: 2px solid var(--primary-light);
                    cursor: default;
                    text-wrap: nowrap;
            
                    &>div {
                        padding: 5px;
                        padding-right: 12px;

                        &:hover {
                            background-color: var(--primary-accent);
                        }

                        &> .language-name {
                            margin-left: 3px;
                        }
                        
                        &#first {
                            border-top-right-radius: 10px;
                            border-top-left-radius: 10px;
                        }

                        &#last {
                            border-bottom-right-radius: 10px;
                            border-bottom-left-radius: 10px;
                        }
                    }
                }
            }
        }

        &>.nav-bar {
            display: flex;
            flex-flow: row nowrap;
            gap: 1rem;

            &>a {
                font-size: 1.125rem;
                font-weight: 300;
                margin: 0.5rem;
            }
        }

        &>.hamburger-menu {
            display: none;

            font-size: 2rem;
            color: var(--primary-light);

            background: none;

            border: none;

            cursor: pointer;
        }

        &>.dropdown-menu {
            display: none;
            flex-flow: column nowrap;
            position: fixed;

            top: 4rem;
            right: 0;

            background-color: var(--secondary-dark);
            z-index: 10;

            width: 100%;
            max-height: calc(100svh - 4rem);
            overflow-y: scroll;

            &::-webkit-scrollbar {
                display: none;
            }

            &>a {
                padding: 1rem;
                text-decoration: none;
                color: var(--primary-light);
                border-bottom: 0.0625rem solid var(--primary-light);
            }
        }

        /* If the device is narrow enough, switch to hamburger nav */
        @media (max-width: 768px) {
            &>.nav-bar {
                display: none;
            }

            &>.hamburger-menu {
                display: block;
            }
        }
    }

    &>main {
        width: 100svw;
        max-width: 100%;

        &>section,
        &>noscript>section,
        &>span>section {
            width: 100%;

            display: flex;
            flex-flow: column nowrap;
            align-items: center;

            margin-bottom: 6rem;

            &>.background-image {
                width: 100%;
                max-width: 100%;
                height: 100%;
                max-height: 70svh;
                overflow-y: hidden;

                &>img {
                    width: 100%;
                }
            }

            &>h1 {
                margin-top: 1rem;
            }

            &>p {
                margin: 0.5rem 0;
            }

            &>h1,
            &>h2,
            &>p {
                max-width: 65dvw;
            }
        }

        &>.our-cars-section {
            &>.vat-container {
                display: flex;
                flex-flow: row nowrap;
                margin: 0.4rem;

                &>button {
                    border: none;
                    padding: 0.15rem;
                    padding-right: 0.5rem;
                    padding-left: 0.5rem;
                    cursor: pointer;

                    &.active {
                        background-color: var(--primary-accent);
                        color: var(--primary-light);
                    }
                }
            }
        }

        &>.delivery-section,
        &>span>.delivery-section-noscript {

            &>.background-image {
                margin: 1rem;

                max-width: 100%;
                max-height: 60svh;
                display: flex;

                &>img {
                    align-self: center;
                    justify-self: center;
                }
            }

            &>.input-container {
                display: flex;

                margin: 0.4rem;

                &>input[type="number"] {
                    height: 100%;
                    border: none;
                    margin: 0;
                    padding: 0.2rem;
                    appearance: textfield;
                    -moz-appearance: textfield;

                    &::-webkit-outer-spin-button {
                        -webkit-appearance: none;
                        margin: 0;
                    }

                    &::-webkit-inner-spin-button {
                        -webkit-appearance: none;
                        margin: 0;
                    }
                }

                &>button {
                    background-color: var(--primary-accent);
                    border: none;
                    color: var(--primary-light);
                    padding: 0.2rem;
                    height: 100%;
                    cursor: pointer;
                }
            }

            &>#delivery-status-tag {
               height: 1rem;
            }
        }
    }


    &>footer {
        background-color: var(--secondary-dark);

        width: 100dvw;
        max-width: 100%;

        padding-top: 1.8rem;

        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        gap: 1rem;

        &>.footer-container {
            display: flex;
            flex-flow: column nowrap;
            align-items: center;
            justify-content: center;

            gap: 0.1rem;

            margin-bottom: 1rem;
        }

        &>#social-media-container {
            display: flex;
            flex-flow: row nowrap;
            justify-content: center;
            align-items: center;
            gap: 1ch;

            &>a {
                font-style: none;

                aspect-ratio: 1/1;
                height: 3rem;

                &>img {
                    height: 100%;
                    aspect-ratio: 1/1;
                }
            }
        }

        &>#copyright-info {
            justify-self: end;
        }
    }
}