* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    color: inherit;

    &:hover {
        color: var(--primary-accent);
    }

    word-break: keep-all;
}

button,
input {
    font-family: inherit;
}

img {
    -webkit-user-drag: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--header-font);
    font-weight: bold;
}

body {
    background-color: var(--primary-dark);
    color: var(--primary-light);
    font-family: var(--body-font);
    text-align: center;

    display: flex;
    flex-flow: column nowrap;
    align-items: center;

    & > header {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: center;

        width: 100dvw;
        max-width: 100%;
        height: 4rem;

        padding-left: 2ch;
        padding-right: 2ch;

        background-color: var(--secondary-dark);

        & > .logo-name-wrapper {
            display: flex;
            flex-flow: row nowrap;
            align-items: center;
            gap: 0.5rem;

            font-family: var(--header-font);
        }

        & > nav {
            display: flex;
            flex-flow: row nowrap;
            justify-content: space-between;
            align-items: center;
            gap: 1rem;

            /* TEMP */
            display: none;

            & > a {
                font-size: 1.1rem;
                font-weight: bold;
            }
        }
    }

    & > main {
        width: 100vw;
        max-width: 100%;

        & > .background-img-wrapper {
            width: 100dvw;
            max-width: 100%;
            max-height: 70vh;

            overflow-y: hidden;

            & > .background-img {
                width: 100dvw;
                max-width: 100%;
                height: 100%;
            }

            & > #map-img {
                width: auto;
                max-height: 50vh;
                padding: 1rem;
            }
        }

        & > .paragraph-section {
            display: flex;
            flex-flow: column nowrap;
            align-items: center;

            padding-top: 1.5rem;

            width: 100vw;
            max-width: 100%;
            height: max-content;
            margin-bottom: 5rem;

<<<<<<< Updated upstream
            &>h1 {
                margin-bottom: 0.3rem;
=======
            & > h1 {
                margin-bottom: 0.8rem;
>>>>>>> Stashed changes

                max-width: 50dvw;
            }

<<<<<<< Updated upstream
            &>h2 {
                margin-bottom: 0.3rem;
=======
            & > h2 {
                margin-bottom: 0.8rem;
>>>>>>> Stashed changes
            }

            & > p {
                max-width: 50dvw;
            }
        }

        & > .open-hours-section {
            display: flex;
            flex-flow: column nowrap;
            align-items: center;

            & > p:first-of-type {
                font-size: 1.1rem;
                margin-bottom: 0.5rem;
                font-weight: 400;

                max-width: 70%;
            }

            /* & > p:last-of-type {
                font-size: 0.8rem;
<<<<<<< Updated upstream
                font-weight: 300;
            }
=======
                font-weight: lighter;
            } */
>>>>>>> Stashed changes
        }

        & > .home-delivery-section {
            & > .input-wrapper {
                display: flex;
                height: 20px;
                margin: 0;

                & > #zip-input {
                    height: 100%;
                    border: none;
                    margin: 0;
                    -moz-appearance: textfield;
                    appearance: textfield;

                    &::-webkit-outer-spin-button {
                        -webkit-appearance: none;
                        margin: 0;
                    }

                    &::-webkit-inner-spin-button {
                        -webkit-appearance: none;
                        margin: 0;
                    }
                }

<<<<<<< Updated upstream
                &>.button {
=======
                & > .button {
                    font: inherit;
>>>>>>> Stashed changes
                    background-color: var(--primary-accent);
                    border: none;
                    color: var(--primary-light);
                    padding: 0 3px;
                    height: 100%;
                    margin: 0;
                }
            }
<<<<<<< Updated upstream
=======

            & > p {
                height: 2rem;
                margin: 0.5rem;
                font-size: 0.8rem;
                font-weight: lighter;
            }
>>>>>>> Stashed changes
        }
    }

    & > footer {
        background-color: var(--secondary-dark);

        width: 100dvw;
        max-width: 100%;
        min-height: 100dvh;

        padding-top: 1.8rem;

        display: flex;
        flex-flow: column nowrap;
        justify-content: space-between;

<<<<<<< Updated upstream
        &>#copyright-info {
            margin-top: 5rem;

            justify-self: end;
        }

        &>address {
            &>strong {
                font-size: 1.1rem;
            }

            &>#dates-closed {
                font-weight: 300;
            }

            &>.social-media-container {
=======
        & > #copyright-info {
            justify-self: end;
        }

        & > address {
            & > .social-media-container {
>>>>>>> Stashed changes
                display: flex;
                flex-flow: row nowrap;
                justify-content: center;
                align-items: center;
                gap: 1ch;

                & > a {
                    font-style: none;

                    aspect-ratio: 1/1;
                    height: 3rem;

                    & > img {
                        width: 100%;
                        height: 100%;
                    }
                }
            }
<<<<<<< Updated upstream
=======

            & > strong {
                font-size: 1.1rem;
            }

            & > #dates-closed {
                font-size: 0.8rem;
                font-weight: lighter;
            }
>>>>>>> Stashed changes
        }
    }
    & table {
        width: 15dvw;
        min-width: 20ch;
        border-collapse: collapse;
        & > tbody > tr {
            &:not(:last-of-type) {
                border-bottom: 1px solid var(--primary-light);
            }
            & > td {
                padding: 0.4rem 0.2rem;
                font-size: 0.9rem;
                font-weight: lighter;
                &:first-of-type {
                    text-align: left;
                }
                &:last-of-type {
                    text-align: right;
                }
            }
        }
    }
}
