* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    color: inherit;

    &:hover {
        color: var(--primary-accent);
    }

    word-break: keep-all;

}

button,
input {
    font-family: inherit;
}

img {
    -webkit-user-drag: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--header-font);
    font-weight: bold;
}

table.open-hours-table {
    width: 15dvw;
    min-width: 20ch;
    border-collapse: collapse;
    align-self: center;

    &>tbody>tr {
        &:not(:last-of-type) {
            border-bottom: 1px solid var(--primary-light);
        }

        &>td {
            padding: 0.4rem 0.2rem;
            font-size: 0.9rem;

            &:first-of-type {
                text-align: left;
            }

            &:last-of-type {
                text-align: right;
            }
        }
    }
}

body {
    background-color: var(--primary-dark);
    color: var(--primary-light);
    font-family: var(--body-font);
    text-align: center;

    display: flex;
    flex-flow: column nowrap;
    align-items: center;

    &>header {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: center;

        width: 100dvw;
        max-width: 100%;
        height: 4rem;

        padding-left: 2ch;
        padding-right: 2ch;

        background-color: var(--secondary-dark);

        &>.logo-name-wrapper {
            display: flex;
            flex-flow: row nowrap;
            align-items: center;
            gap: 0.5rem;

            font-family: var(--header-font);
        }
    }

    &>main {
        width: 100svw;
        max-width: 100%;

        &>section {
            width: 100%;

            display: flex;
            flex-flow: column nowrap;
            align-items: center;

            margin-bottom: 6rem;

            &>.background-image {
                width: 100%;
                max-width: 100%;
                height: 100%;
                max-height: 70svh;
                overflow-y: hidden;

                &>img {
                    width: 100%;
                }
            }

            &>h1 {
                margin-top: 1rem;
            }

            &>h2 {
                margin-bottom: 0.3rem;
            }

            &>p {
                margin-top: 0.3rem;
                margin-bottom: 0.5rem;
            }

            &>h1,
            &>h2,
            &>p {
                max-width: 65dvw;
            }
        }

        &>.opening-hours-section>table {
            margin: 1rem;
        }

        &>.delivery-section {

            &>.background-image {
                max-width: 100%;
                max-height: 60svh;
                display: flex;

                &>img {
                    align-self: center;
                    justify-self: center;
                }
            }

            &>.input-container {
                margin: 0.3rem;
                margin-top: 0.6rem;

                display: flex;

                &>input[type="number"] {
                    height: 100%;
                    border: none;
                    margin: 0;
                    -moz-appearance: textfield;
                    appearance: textfield;

                    &::-webkit-outer-spin-button {
                        -webkit-appearance: none;
                        margin: 0;
                    }

                    &::-webkit-inner-spin-button {
                        -webkit-appearance: none;
                        margin: 0;
                    }
                }

                &>button {
                    background-color: var(--primary-accent);
                    border: none;
                    color: var(--primary-light);
                    padding: 0 3px;
                    height: 100%;
                }
            }
        }
    }


    &>footer {
        background-color: var(--secondary-dark);

        width: 100dvw;
        max-width: 100%;
        min-height: 100dvh;
        height: auto;

        padding-top: 1.8rem;

        display: flex;
        flex-flow: column nowrap;

        & strong {
            font-size: 1.1rem;
        }

        &>div {
            display: flex;
            flex-flow: column nowrap;
            align-items: center;

            gap: 0.5rem;
        }
        
        &>div,
        &>address {
            margin-bottom: 3rem;
        }

        &>#social-media-container {
            display: flex;
            flex-flow: row nowrap;
            justify-content: center;
            align-items: center;
            gap: 1ch;

            &>a {
                font-style: none;

                aspect-ratio: 1/1;
                height: 3rem;

                &>img {
                    width: 100%;
                    height: 100%;
                }
            }
        }

        &>#closed-dates-container>p {
            font-weight: 300;
        }

        &>#copyright-info {
            font-weight: 300;

            justify-self: end;

            margin-top: 10vh;
            margin-bottom: 70vh;
        }
    }
}