* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    color: inherit;

    &:hover {
        color: var(--primary-accent);
    };
}

body {
    background-color: var(--primary-dark);
    color: var(--primary-light);
    font-family: sans-serif;
    text-align: center;

    display: flex;
    flex-flow: column nowrap;
    align-items: center;

    .paragraph-section {
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;

        height: 90dvh;

        &>h1 {
            margin-bottom: 1rem;
        }
    }


    &>footer {
        background-color: var(--secondary-dark);

        width: 100dvw;
        max-width: 100%;
        min-height: 100dvh;

        padding-top: 1.8rem;

        display: flex;
        flex-flow: column nowrap;
        justify-content: space-between;

        &>#copyright-info {
            justify-self: end;
        }

        &>address {
            &>.social-media-container {
                display: flex;
                flex-flow: row nowrap;
                justify-content: center;
                align-items: center;
                gap: 1ch;

                &>a {
                    font-style: none;

                    aspect-ratio: 1/1;
                    height: 3rem;

                    &>img {
                        width: 100%;
                        height: 100%;
                    }
                }
            }

            &>strong {
                font-size: 1.1rem;
            }

            &>#dates-closed {
                font-size: 0.8rem;
                font-weight: lighter;
            }
        }

    };
}