:root {
    --primary-dark: #3a3a47;
    --secondary-dark: #0b0b0d;
    --primary-light: #d9d9d9;
    --secondary-light: #f2f2f2;
    --primary-accent: #0066cc;
    --secondary-accent: #cc3333;


    --header-font: "din-2014", "comic sans ms", "Oswald", "sans-serif";
    --body-font: "Lato", "sans-serif";
}