* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    color: inherit;

    &:hover:not(#homepage-redirect) {
        color: var(--hover-accent);
        transition: 0.25s;
    }

    word-break: keep-all;

}

button,
input {
    font-family: inherit;
}

img {
    -webkit-user-drag: none;
}

p {
    text-wrap: balance;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--header-font);
    font-weight: bold;
}

h4 {
    font-size: 1.25rem;
}

/* ID tags that the nav buttons in the header lead to */
#open-hours-section,
#our-cars-section,
#delivery-section,
#closed-dates-container {
    scroll-margin-top: 5rem;
}

table.open-hours-table,
table.closed-dates-table,
table.our-cars-table,
table.delivery-table {
    width: 40ch;
    max-width: 90dvw;
    border-collapse: collapse;
    align-self: center;

    &>thead>tr {
        border-bottom: 0.0625rem solid var(--primary-light);

        &>th {
            padding: 0.4rem 0.2rem;
            font-size: 1rem;

            &:first-of-type {
                text-align: left;
            }

            &:last-of-type {
                text-align: right;
            }
        }
    }

    &>tbody>tr {
        padding: 0.5rem 0;

        &:not(:last-of-type) {
            border-bottom: 0.0625rem solid var(--primary-light);
        }

        &>td {
            padding: 0.4rem 0.2rem;
            font-size: 1rem;

            text-align: center;

            &:first-of-type {
                text-align: left;
            }

            &:last-of-type {
                text-align: right;
            }
        }
    }
}

body {
    background-color: var(--primary-dark);
    color: var(--primary-light);
    font-family: var(--body-font);
    text-align: center;

    display: flex;
    flex-flow: column nowrap;
    align-items: center;

    &>header {
        display: flex;
        flex-flow: row nowrap;
        justify-content: flex-end;
        align-items: center;
        gap: 2ch;

        width: 100%;
        max-width: 100%;
        height: 4rem;
        max-height: max-content;

        padding-left: 2ch;
        padding-right: 2ch;

        top: 0;
        position: sticky;
        background-color: var(--secondary-dark);

        &>a {
            text-decoration: none;
            margin-right: auto;
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            height: 4rem;
            &>img {
                height: 2rem;
                width: 2rem;
                margin-top: 1rem;
                margin-right: 0.5rem;
            }
            &>p {
                display: flex;
                align-items: center;
                @media screen and (max-width: 950px) {
                    display: none;
                }
                @media screen and (max-width: 810px) {
                    display: flex;
                }
                @media screen and (max-width: 456px) {
                    display: none;     
                }
            }
        }

        &>nav,
        &>noscript>nav,
        &>span>nav {
            display: flex;
            flex-flow: row nowrap;
            gap: 0.5ch;

            &>a {
                font-size: 1.125rem;
                font-weight: 300;
                margin: 0.5rem;
            }

            @media screen and (max-width: 810px) {
                display: none;                
            }
        }

        &>form {
            height: 1.5rem;
            display: flex;
            flex-flow: row nowrap;
            &>select {
                height: 100%;   
                background-color: var(--secondary-dark);
                color: var(--primary-light);
                border: none;

                width: max-content;
                font-family: inherit;
                font-size: 1rem;
                &:hover {
                    cursor: pointer;
                }
                &>option {
                    background-color: var(--secondary-dark);
                    color: var(--primary-light);
                    font-family: inherit;
                }
            }
            &>noscript,
            &>span {
                height: 100%;
                width: fit-content;
                flex-flow: row nowrap;
                display: flex !important;
                vertical-align: middle;
                & > button {
                    font-family: inherit;
                    font-size: 1rem;
                    background-color: var(--primary-accent);
                    color: var(--primary-light);
                    border: none;
                    cursor: pointer;
                    height: 100%;
                    padding: 0.2rem;
                }
            }
            @media screen and (max-width: 568px) {
                flex-flow: column nowrap;
                float: left;
                height: 3rem;
            }
        }

        &>section {
            display: none;
            overflow: hidden;
            justify-content: center;
            width: 3rem;
            height: 100%;
            &>button {
                border: none;
                font-family: inherit;
                background-color: var(--secondary-dark);
                color: var(--primary-light);
                font-size: 1.5rem;
                vertical-align: middle;
                &:hover {
                    cursor: pointer;
                }
            }
            &>nav {
                background-color: var(--secondary-dark);
                max-height: calc(100svh - 4rem);
                flex-flow: column nowrap;
                position: fixed;
                overflow-y: scroll;
                z-index: 10;
                width: 100%;
                right: 0;
                top: 4rem;
                display: none;
                overflow-y: scroll;
                &::-webkit-scrollbar {
                    display: none;
                }
                &>a {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    cursor: pointer;
                    padding: 1rem;
                    text-decoration: none;
                    color: var(--primary-light);
                    border-bottom: 0.0625rem solid var(--primary-light);
                    
                    &>img {
                        height: 1rem;
                    }
                }
                &:hover {
                    display: flex;
                    &>a {
                        display: flex;
                    }
                }
            }
            &:hover,
            &:focus-within {
                &>nav {
                    display: flex;
                }
            }
            @media screen and (max-width: 810px) {
                display: flex;
            }
        }

        /* &>.hamburger-menu-wrapper,
        &>.hamburger-menu-wrapper>noscript,
        &>.hamburger-menu-wrapper>span {
            display: none;
            &>.hamburger-menu {
                display: none;

                font-size: 2rem;
                color: var(--primary-light);

                background: none;

                border: none;

                cursor: pointer;
            }

            &>.dropdown-menu {
                display: none;
                flex-flow: column nowrap;
                position: fixed;

                top: 4rem;
                right: 0;

                background-color: var(--secondary-dark);
                z-index: 10;

                width: 100%;
                max-height: calc(100svh - 4rem);
                overflow-y: scroll;

                &::-webkit-scrollbar {
                    display: none;
                }

                &>a {
                    padding: 1rem;
                    text-decoration: none;
                    color: var(--primary-light);
                    border-bottom: 0.0625rem solid var(--primary-light);
                }
                @media screen and (max-width: 790px) {
                    display: flex;       
                }
            }
            @media  (max-width: 790px) {
                display: flex;  
            }
        } */
    }

    &>main {
        width: 100svw;
        max-width: 100%;

        &>section,
        &>noscript>section,
        &>span>section {
            width: 100%;

            display: flex;
            flex-flow: column nowrap;
            align-items: center;

            margin-bottom: 6rem;

            &>.background-image {
                width: 100%;
                max-width: 100%;
                height: 100%;
                max-height: 70svh;
                overflow-y: hidden;

                &>img {
                    width: 100%;
                }
            }

            &>h1 {
                margin-top: 1rem;
            }

            &>p {
                margin: 0.5rem 0;
            }

            &>h1,
            &>h2,
            &>p {
                max-width: 65dvw;
            }
        }

        &>.our-cars-section {
            &>.vat-container {
                display: flex;
                flex-flow: row nowrap;
                margin: 0.4rem;

                &>button {
                    border: none;
                    padding: 0.15rem;
                    padding-right: 0.5rem;
                    padding-left: 0.5rem;
                    cursor: pointer;

                    &.active {
                        background-color: var(--primary-accent);
                        color: var(--primary-light);
                    }
                }
            }

            &>.input-container {
                display: flex;
                
                margin: 0.4rem;

                &>input[type="search"] {
                    height: 100%;
                    border: none;
                    margin: 0;
                    padding: 0.2rem;
                    appearance: textfield;
                    -moz-appearance: textfield;

                    &::-webkit-outer-spin-button {
                        -webkit-appearance: none;
                        margin: 0;
                    }

                    &::-webkit-inner-spin-button {
                        -webkit-appearance: none;
                        margin: 0;
                    }
                    &:focus {
                        outline: none;
                    }
                }

                &>button {
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    background-color: var(--primary-accent);
                    border: none;
                    color: var(--primary-light);
                    padding: 0.2rem;
                    height: 100%;
                    cursor: pointer;

                    &>img {
                        height: 1rem;
                    }
                }
            }

            &>.our-cars-table th {
                cursor: pointer;
                user-select: none;

                &>#ascending-0,
                &>#descending-0,
                &>#tool-tip-descending-0,
                &>#ascending-1,
                &>#descending-1,
                &>#tool-tip-descending-1,
                &>#ascending-2,
                &>#descending-2,
                &>#tool-tip-descending-2 {
                    display: none;
                }

                &>#neutral-0,
                &>#neutral-1,
                &>#neutral-2 {
                    display: inline;
                }
                
                &>#tool-tip-ascending-0,
                &>#tool-tip-ascending-1,
                &>#tool-tip-ascending-2 {
                    display: block;
                }

                & .tool-tip {
                    visibility: hidden;
                    display: block;
                    position: absolute;

                    background-color: var(--secondary-dark);
                    padding: 0.25rem;
                    border-radius: 0.25rem;

                    font-size: 0.75rem;
                    color: var(--primary-light);

                    transition: 0.25s;
                    opacity: 0;
                }
                
                &:hover .tool-tip {
                    visibility: visible;
                    opacity: 1;
                }
            }
        }



        &>.delivery-section,
        &>span>.delivery-section-noscript,
        &>noscript>.delivery-section-noscript {
            &>.background-image {
                margin: 1rem;

                max-width: 100%;
                max-height: 60svh;
                display: flex;

                &>img {
                    align-self: center;
                    justify-self: center;
                }
            }

            &>.input-container {
                display: flex;
                
                margin: 0.4rem;

                &>input[type="number"] {
                    height: 100%;
                    border: none;
                    margin: 0;
                    padding: 0.2rem;
                    appearance: textfield;
                    -moz-appearance: textfield;

                    &::-webkit-outer-spin-button {
                        -webkit-appearance: none;
                        margin: 0;
                    }

                    &::-webkit-inner-spin-button {
                        -webkit-appearance: none;
                        margin: 0;
                    }
                    &:focus {
                        outline: none;
                    }
                }
 
                &>button {
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    background-color: var(--primary-accent);
                    border: none;
                    color: var(--primary-light);
                    padding: 0.2rem;
                    height: 100%;
                    cursor: pointer;

                    &>img {
                        height: 1rem;
                    }
                }
            }

            &>#delivery-status-tag {
               height: 1rem;
            }
        }
    }


    &>footer {
        background-color: var(--secondary-dark);

        width: 100dvw;
        max-width: 100%;

        padding-top: 1.8rem;

        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        gap: 1rem;

        &>section {
            display: flex;
            flex-flow: column nowrap;
            align-items: center;
            justify-content: center;

            gap: 0.1rem;

            margin-bottom: 1rem;
        }

        &>#social-media-container {
            display: flex;
            flex-flow: row nowrap;
            justify-content: center;
            align-items: center;
            gap: 1ch;

            &>a {
                font-style: none;

                aspect-ratio: 1/1;
                height: 3rem;

                &>img {
                    height: 100%;
                    aspect-ratio: 1/1;
                }
                &:hover {
                    filter: brightness(0.7);
                }   
            }
        }
        &>p {
            justify-self: end;
            padding-bottom: 1%;
        }
    }
}

.script {
    display: none !important;
}