body {
    &>header {
        &>.redirect-dropdowns {
            & .redirect-dropdown {
                &:focus-within #location-dropdown-content {
                    visibility: visible;
                    opacity: 1;
                    margin-top: 5px;
                    z-index: 1;
                }
                &:focus-within #location-dropdown-arrow {
                    transform: rotate(180deg);
                }
            } 
        }
    }
}