<!DOCTYPE html>
<html lang="{{lang.lang}}">

<head>
   <meta name="robots" content="noindex, nofollow" />
   <meta name="googlebot" content="noindex, nofollow" />

   <noscript>
      <meta http-equiv="refresh" content="0;url=/noscript">
   </noscript>

   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">

   <title>{{lang.admin}}</title>
</head>

<body>

</body>

</html>