<!DOCTYPE html>
<html lang="{{lang.lang}}">
<head>
   <noscript>
      <meta http-equiv="refresh" content="0;url=/noscript">
   </noscript>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>{{lang.login}}</title>
   <script defer src="js/login.js"></script>
</head>
<body>
   {{!-- Login page --}}
   <form action="">
      <input type="password">
      <button type="submit"></button>
   </form>
</body>
</html>